<div>
  <%= link_to 'New character', new_character_path, class: 'slide under' %>
</div>
<br>
<%  Character.all.order(:name).each do |c| %>
  <div>
    <%  if c.name %>
      <%  link = c.name + ' the ' + c.archetype.name %>
    <%  else %>
      <%  link = 'The ' + c.archetype.name %>
    <%  end %>
    <%= link_to link, c, class: 'slide under' %>
  </div>
<%  end %>
