<div class="center">
  <h1>Playbooks Online</h1>

  <h2>
    Under Construction
  </h2>

  <!-- <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %> -->
  <%= link_to "Example playbook", Character.find_by(name: "Claire"), class: "btn btn-lg btn-primary" %>
</div>