<div>
  <% link = "Improvement" %>
  <% css_class = "slide under" %>
  <% complete = false %>
  <% unless improvement.def_improvement.nil? %>
    <% case improvement.def_improvement.action %>
    <% when "add stat" %>
      <% link += ": #{text(improvement.def_improvement)}" %>
      <% complete = true %>
    <% when "move" %>
      <% if improvement.move && improvement.move.def_move %>
        <% link += " (Move): #{improvement.move.def_move.name}" %>
        <% complete = true %>
      <% end %>
    <% end %>
  <% end %>
  <% if complete %>
    <% css_class += " complete" %>
  <% end %>
  <%= link_to link, [:edit, @character, improvement], class: css_class %>
</div>
