<% unless @improvement.def_improvement.nil? %>
  <div class="text-center">
    <div class="submit-wrapper">
      <%= link_to ">", [:edit, @character], class: "slide submit" %>
    </div>
  </div>
<% end %>
