<div class="container-fluid experience">
	<div class="row row-centered experience">
			Experience
		<% if logged_in? && @character.owned_by?(current_user) %>
			<span class="experience-bubbles active">
				<% (1..@character.experience).each do |n| %>
					<%= link_to "O", minus_experience_character_path(@character), :remote => true, id: "exp#{n}" %>
				<% end %>
				<% (@character.experience+1..5).each do |n| %>
					<%= link_to "o", plus_experience_character_path(@character), :remote => true, id: "exp#{n}" %>
				<% end %>
			</span>
		<% else %>
			<span class="experience-bubbles">
				<% (1..@character.experience).each do |n| %>
					O
				<% end %>
				<% (@character.experience+1..5).each do |n| %>
					o
				<% end %>
			</span>
		<% end %>
	</div>
</div>