<h1>Fate</h1>
<div class="row row-centered">
<% @character.fates.each do |fate| %>
	<% @fate = fate %>
	<%= render partial: "fate", locals: {fate: fate} %>
<% end %>
<div class="col-xs-12 col-sm-12 col-md-3 col-lg-12 col-centered center fate-center" id="fate-end">
	<div class="row thin">
		<%= link_to "+", add_fate_character_path(@character), remote: true, class: "plus", id: "fate_new_plus" %>
	</div>
</div>
<div>