<div class="centered losses">
	<div class="centered">
		<h3>Losses</h3>
		<p><em>I have lost...</em></p>
		<div class="well well-sm">
			<%= @character.losses%>
		</div>
		<p><em>but I still have...</em></p>
	</div>

	<div class="centered">
		<% if @character.pride %>
			<span class="loss lost">my pride</span>
		<% else %>
			<span class="loss">my pride</span>
		<% end %>
	</div>

	<div class="centered">
		<% if @character.health %>
			<span class="loss lost">my health</span>
		<% else %>
			<span class="loss">my health</span>
		<% end %>
	</div>

		<div class="centered">
		<% if @character.strength %>
			<div class="loss lost">my strength</div>
		<% else %>
			<div class="loss">my strength</div>
		<% end %>
	</div>

		<div class="centered">
		<% if @character.hope %>
			<div class="loss lost">my hope</div>
		<% else %>
			<div class="loss">my hope</div>
		<% end %>
	</div>

	<div class="centered">
		<% if @character.life %>
			<div class="loss lost">my life</div>
		<% else %>
			<div class="loss">my life</div>
		<% end %>
		</div>
</div>