<h1>Moves</h1>
<% @character.moves.each do |move| %>
	<h3 class="<%=move.database_move.stat%>">
		<%=move.database_move.name %>
	</h3>
	<%=move.database_move.text.html_safe%>
	<% if move.database_move.has_description? then %>
		<%= render partial: "well_move", locals: {move: move} %>
	<% end %>
<% end %>