<h1>Moves</h1>
<% @character.moves.each do |move| %>
	<h3 class="<%=move.database_move.stat%>">
		<%=move.database_move.name %>
	</h3>
	<%=move.database_move.text.html_safe%>
	<% if move.database_move.has_description? then %>
		<div class="well well-sm">
			<% move.description.split("\n").each do |text| %>
				<p><%= text %></p>
			<% end %>
		</div>
	<% end %>
<% end %>