<h3>Posessions</h3>
<%= render partial: "well", locals: {name: "posessions", field: @character.posessions} %>
<div class="container-fluid unprepared">
	<div class="row row-centered">
		<div class="unprepared">
			Unprepared
		</div>
		<% if logged_in? && @character.owned_by?(current_user) %>
			<div class="unprepared-bubble active">
					<%= form_for @character, :remote => true do |f| %>
						<%= f.check_box 'unprepared', :class => 'submittable awesome-checkbox' , id: "unprepared", :data => {'icon-checked' => 'i i-circle', 'icon-unchecked' => 'i i-circle-o'}%>
					<% end %>
			</div>
		<% else %>
			<div class="unprepared-bubble">
				<% if @character.unprepared %>
					<i class="i i-circle"></i>
				<% else %>
					<i class="i i-circle-o"></i>
				<% end %>
			</div>
		<% end %>
	</div>
</div>