<div id="trust">
  <h2 class="bar">
    <span class="title">
      Trust
    </span>
  </h2>
  <% relationships.order(:name).each do |r| %>
    <div class="relationships">
      <%= link_to "-", [:decrement, r], method: :post, remote: true, data: {trust_id: r.id}, class: "trust-change button" %>
      <%= render partial: "relationships/show", locals: {relationship: r} %>
      <%= link_to "+", [:increment, r], method: :post, remote: true, data: {trust_id: r.id}, class: "trust-change button"  %>
    </div>
  <% end %>
</div>
