// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

body {
  background: none;
  border: none;
  margin: 0;
  font-size: 1rem;
}

#slider {
  // border: none;
  padding: 2rem;
  display: block;
}

h1, h2 {
  color: $gray;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-family: "Antique", serif;
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.2rem;
}

.narrow {
  margin: auto;
  max-width: 30rem;
  font-family: "Crimson Text", serif;
}

.text-center {
  text-align: center;
}

a {
  font-family: 'Spartan';
  font-weight: bold;
  text-decoration: none;
  &:hover, &:focus {
    text-decoration: none;
  }
}

.under, .under-check, .under-check-free {
  text-shadow: 2px 0px 0px $background, -2px 0px 0px $background;
  color: $red_link;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visiblity: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  &:before {
    background: $red_link;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0.2rem;
    height: 4px;
    -webkit-transition-property: right, background-color, opacity;
    transition-property: right, background-color, opacity;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  &.wary:before {
    background: $wary;
  }
}

.under {
  &:hover, &:focus {
    &:before {
      right: 0;
      background-color: $red_link_hover;
    }
    color: $red_link_hover;
  }
}

.under-check {
  &:hover, &:focus {
    &:before {
      background-color: $red_link_hover;
    }
    &.brave:before {
      background-color: $brave;
      opacity: 0.5;
    }
    &.fierce:before {
      background-color: $fierce;
      opacity: 0.5;
    }
    &.wary:before {
      background-color: $wary;
      opacity: 0.5;
    }
    &.clever:before {
      background-color: $clever;
      opacity: 0.5;
    }
    &.strange:before {
      background-color: $strange;
      opacity: 0.5;
    }
    &.trust:before {
      background-color: $trust;
      opacity: 0.5;
    }
    &.nostat:before {
      background-color: $nostat;
      opacity: 0.5;
    }
    color: $red_link_hover;
    &.brave {
      color: rgba($brave, 0.5);
    }
    &.fierce {
      color: rgba($fierce, 0.5);
    }
    &.wary {
      color: rgba($wary, 0.5);
    }
    &.clever {
      color: rgba($clever, 0.5);
    }
    &.strange {
      color: rgba($strange, 0.5);
    }
    &.trust {
      color: rgba($trust, 0.5);
    }
    &.nostat {
      color: rgba($nostat, 0.5);
    }
  }
  &:checked {
    &:before {
      right: 0;
    }
  }
}

#slider a {
  &.complete {
    &:after {
      top: 0;
      content: "c";
      position: absolute;
      left: -1.25rem;
      font-family: 'icomoon';
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    color: $complete;
    &:before {
      background-color: $complete;
    }
    &:hover {
      color: $complete_hover;
      &:before {
        background-color: $complete_hover;
      }
    }
  }
}

#header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cc2828+0,ffffff+100 */
  background: #cc2828; /* Old browsers */
  background: -moz-linear-gradient(45deg, $red_header 0%, $red_link_hover 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, $red_header 0%, $red_link_hover 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, $red_header 0%,$red_link_hover 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$red_header', endColorstr='$red_link_hover',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  width: 100%;
  padding: .2rem 1rem .2rem 1rem;
  border: none;
  a {
    text-shadow: 2px 0px 0px $red_header, -2px 0px 0px $red_header;
    color: white;
    font-size: 1rem;
    &:before {
      background-color: white;
    }
  }
}

.checklist {
  text-align: center;
  padding: 1rem 0 1rem 0;
  label {
    margin: 0 .5rem 0 .5rem;
  }
}

.check-title {
  input[type="radio"], input[type="checkbox"] {
  }
  &:hover label.move {
    color: $red_link_hover;
    &.brave {
      color: rgba($brave, 0.5);
    }
    &.fierce {
      color: rgba($fierce, 0.5);
    }
    &.wary {
      color: rgba($wary, 0.5);
    }
    &.clever {
      color: rgba($clever, 0.5);
    }
    &.strange {
      color: rgba($strange, 0.5);
    }
    &.trust {
      color: rgba($trust, 0.5);
    }
    &.nostat {
      color: rgba($nostat, 0.5);
    }
  }
}

.check-title, .check-title-free {
  text-align: left;
  &:disabled ~ .body {
    color: $disabled;
  }
  .body {
    color: $gray;
    opacity: 0.5;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  :checked ~ .body {
    // color: $gray;
    opacity: 1.0;
  }
  label.move {
    margin: 0;
  }
}

.checklist, .check-title, .check-title-free {
  input[type="radio"], input[type="checkbox"] {
    display: none;
    &:checked+label {
      color: $red_link;
      &.dire-fate {
        color: rgba($gray, 0.4);
        &:hover {
          color: rgba($gray, 0.5);
          &:before {
            background-color: rgba($gray, 0.5);
          }
        }
        &:before {
          background-color: rgba($gray, 0.4);
        }
      }
      &:before {
        right: 0;
      }
      &.brave {
        color: $brave;
        &:before {
          background-color: $brave;
        }
      }
      &.fierce {
        color: $fierce;
        &:before {
          background-color: $fierce;
        }
      }
      &.wary {
        color: $wary;
        &:before {
          background-color: $wary;
        }
      }
      &.clever {
        color: $clever;
        &:before {
          background-color: $clever;
        }
      }
      &.strange {
        color: $strange;
        &:before {
          background-color: $strange;
        }
      }
      &.trust {
        color: $trust;
        &:before {
          background-color: $trust;
        }
      }
      &.nostat {
        color: $nostat;
        &:before {
          background-color: $nostat;
        }
      }
    }
    &:disabled+label {
      color: $disabled;
      cursor: default;
    }
    &:disabled ~ .body input[type=text] {
      background-color: $disabled;
    }
  }
  label {
    font-family: "Spartan";
    color: rgba($gray, 0.4);
    cursor: pointer;
    &.option, &.dire-fate {
      font-size: 0.8rem;
      &:before {
        bottom: 0.15rem;
        height: 3px;
      }
    }
    &.dire-fate {
      color: $red_link;
      &:hover {
        color: rgba($red_link, 0.6);
      }

    }
  }
}

.checklist, .check-title {
  input[type="radio"], input[type="checkbox"] {
    &:checked+label:hover {
      color: rgba($red_link, 0.5);
      &.brave {
        color: rgba($brave, 0.5);
      }
      &.fierce {
        color: rgba($fierce, 0.5);
      }
      &.wary {
        color: rgba($wary, 0.5);
      }
      &.clever {
        color: rgba($clever, 0.5);
      }
      &.strange {
        color: rgba($strange, 0.5);
      }
      &.trust {
        color: rgba($trust, 0.5);
      }
      &.nostat {
        color: rgba($nostat, 0.5);
      }
    }
  }
}

.check-title-free {
  .body, label {
    cursor: default;
  }
}

.button, .submit {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: none;
  border: none;
  color: $red_link;
  position: relative;
  -webkit-transition: color 0.3s, transform 0.3s, background-color 0.3s;
  transition: color 0.3s, transform 0.3s, background-color 0.3s;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  &:focus {
    color: $red_link_hover;
  }
  &:hover {
    color: white;
    background-color: $red_link_hover;
  }
}

.submit-wrapper {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: top;
}

.submit {
  line-height: 1;
  padding: .2rem .35rem .2rem .35rem;
  border-radius: .2rem;
  font-size: 1.6rem;
}

.text-field {
  height: 2rem;
  margin-bottom: 1rem;
}


form {
  text-align: center;

  input[type="text"] {
    font-family: "Crimson Text", serif;
    border-width: 0px;
    border-radius: .25rem;
    display: inline-block;
    height: 2rem;
    text-align: center;
    vertical-align: top;
    -webkit-transition: background-color .3s, color .3s, opacity .3s;
    transition: background-color .3s, color .3s, opacity .3s;
    &.detail, &.detail-body {
      height: 1.4rem;
      text-align: center;
    }
    &.detail {
      background-color: rgba(255,255,255,0.2);
    }
    &.detail-body {
      background-color: white;
    }
    &:disabled {
      background-color: $gray_light;
      color: white;
      opacity: .25;
    }
  }
  textarea {
    font-family: "Crimson Text", serif;
    border-width: 0px;
    border-radius: .25rem;
    resize: none;
    padding: .5rem;
    max-width: 20rem;
    width: 100%;
    margin: 1rem 0 1rem 0;
    vertical-align: top;
    overflow-y: hidden;
    -webkit-transition: background-color .3s, color .3s, opacity .3s;
    transition: background-color .3s, color .3s, opacity .3s;
    &:disabled {
      background-color: $gray_light;
      color: white;
      opacity: .25;
    }
  }
}

::-moz-selection
{
    text-shadow: none;
    background: #333;
    color: #fff;
}
::selection {
    text-shadow: none;
    background: #333;
    color: #fff;
}

#setting {
  p {
    margin-bottom: 0.3rem;
    color: $gray;
    text-align: center;
    font-size: 1rem;
  }
  #symbol, #other {
    color: $red_link;
  }
  #examples {
    font-style: italic;
    color: $gray_light;
  }
}

#edit-relationships {
  p {
    font-style: italic;
    color: $gray_light;
  }
  #relationship-list {
    min-height: 2rem;
  }
  .relationship {
    display: inline-block;
    margin: 0rem .5rem 0rem .5rem;
    a {
      color: $red_link;
      -webkit-transition: color 0.3s;
      transition: opacity 0.3s;
      text-shadow: none;
      transition: color 0.3s;
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visiblity: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      &:hover {
        color: $disabled;
        &:before {
          opacity: 1;
        }
      }
      &:before {
        -webkit-transition: opacity 2s;
        transition: opacity 2s;
        color: $red_link;
        opacity: 0;
        font-size: 2rem;
        text-shadow: none;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        content: "x";
        position: absolute;
        font-family: "icomoon";
        z-index: -1;
      }
    }
  }
}

#edit-fate {
  .fate-body {
    vertical-align: top;
    text-align: left;
    line-height: 1rem;
    .fate-description {
      font-style: italic;
      margin-bottom: .5rem;
      line-height: 1.2rem;
    }
    .fate-advance {
      line-height: 1.0rem;
      margin-bottom: .5rem;
    }
    .fate-complete {
      line-height: 1.0rem;
      margin-bottom: 2rem;
    }
  }
}

#edit-tool {
  .tool {
    cursor: pointer;
    &:hover {
      label {
        color:$red_link_hover;
      }
    }
    .tool-example {
      font-size: .9rem;
      font-style: italic;
      color: $gray-light;
      margin-bottom: .5rem;
    }
  }
}

#edit-vows {
  .body {
    margin-bottom: 1rem;
  }
}

#edit-move {
  .check-title, .check-title-free {
    margin-bottom : 2rem;
  }
}

#sheet {
  color: $gray;
  margin-top: -1.5rem;
  h1 {
    margin-top: 1.5rem;
  }
  h2.bar {
    display: block;
    margin: auto;
    // text-align: center;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
    height: 1.5rem;
    // text-shadow: 2px 0px 0px $background, -2px 0px 0px $background;
    &:before {
      content: "";
      position: absolute;
      background-color: $red_link;
      z-index: -3;
      bottom: 50%;
      left: 1rem;
      right: 1rem;
      height: 3px;
      border: 1px inset $red_link;
      border-radius: 6px;
    }
    .look {
      font-family: "Crimson Text", sans-serif;
      font-size: 1rem;
    }
    .title {
      z-index: -2;
      font-size: 1.2rem;
      background-color: $background;
      display: inline-block;
      line-height: 1.5rem;
      position: relative;
      height: 1.5rem;
      color: $gray;
      padding-left: .3rem;
      padding-right: .3rem;
    }
  }
  .stats {
    text-align: center;
    .stat {
      display:inline-block;
      white-space: nowrap;
      font-weight: bold;
      font-family: "Antique", serif;
      font-size: 1.5rem;
      margin: 0 1.5rem 0 1.5rem;
      .name {
        margin-right: -.4rem;
      }
  }
  }
  .panel {
    font-family: "Crimson Text", serif;
    font-size: .9rem;
    background-color: none;
    border-left: 1px solid white;
    margin-left: -1px;
  }
  .outer-panel {
    padding: 0;
  }
  .name {
    font-weight: bold;
    font-family: "Antique", serif;
    font-size: 1.2rem;
  }
  .move {
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .relationships {
    text-align: center;
    color: $gray;
    position: relative;
    .relationship {
      font-weight: bold;
      font-family: "Antique", serif;
      font-size: 1.2rem;
      vertical-align: bottom;
      display: inline-block;
      .trust-value {
        display: inline-block;
        width: 1.3rem;
      }
    }
  }
  form {
    display: inline-block;
  }
  .trust-change, .button {
    float: center;
    text-align: center;
    // padding: 0 .5rem 0 .5rem;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .2rem;
    line-height: 1.6rem;
    vertical-align: middle;
    display: inline-block;
    bottom: .2rem;
    &:focus {
      color: $red_link;
    }
  }
  #spirit {
    text-align: center;
    .button {
      float: left;
      -webkit-transition: left 0.3s;
      transition: left 0.3s;
    }
  }
  .move-fields {
    margin-left: 2rem;
    margin-top: -.7rem;
  }
  .field {
    color: $red_link;
  }
  .dire-fates {
    padding-top: 0;
  }
  .fate {
    .description {
      font-style: italic;
    }
    .button {
      padding: 0;
      position: relative;
      vertical-align: middle;
      line-height: 1.5rem;
      -webkit-transition: opacity 0.3s, color 0.3s;
      transition: opacity 0.3s, color 0.3s;
      &:disabled {
        color: $gray;
        opacity: 0.3;
        &:hover {
          background: none;
        }
      }
    }
    .fate-advancements {
      margin-top: -.5rem;
      .fate-advancement-form {
        display: inline;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .word-button {
      padding: .3rem;
      border: none;
      font-family: "Spartan", sans-serif;
      display: block;
      width: 100%;
      height: auto;
      white-space: normal;
      font-size: .8rem;
    }
  }
}
