// Place all the styles related to the Characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: none;
  border: none;
  margin: 0;
  font-size: 1rem;
}

#slider {
  padding: 2rem;
  display: block;
}

h1, h2 {
  color: $gray;
  text-align: center;
  font-weight: bold;
  margin: 0;
  font-family: "Antique", serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

.narrow {
  margin: auto;
  max-width: 30rem;
  font-family: "Crimson Text", serif;
}

.text-center {
  text-align: center;
}

.description {
  font-style: italic;
  margin-top: -.2rem;
  line-height: 1.1rem;
}

::-moz-selection
{
    text-shadow: none;
    background: #333;
    color: #fff;
}
::selection {
    text-shadow: none;
    background: #333;
    color: #fff;
}
