$brave: rgb(84,40,136);
$fierce: rgb(210,32,39);
$wary: rgb(57,154,50);
$clever: rgb(0,148,207);
$strange: rgb(221,120,15);
$trust: rgb(240,46,161);
$nostat: black;

$brave_link: darken($brave, 15%);
$brave_link_hover: rgba($brave, 0.8);
$fierce_link: darken($fierce, 15%);
$fierce_link_hover: rgba($fierce, 0.8);
$wary_link: darken($wary, 15%);
$wary_link_hover: rgba($wary, 0.8);
$clever_link: darken($clever, 15%);
$clever_link_hover: rgba($clever, 0.8);
$strange_link: darken($strange, 15%);
$strange_link_hover: rgba($strange, 0.8);

$link: rgba(150,25,25,1.0);
$header: $link;
$link_hover: rgba(200,50,50,0.8);
$gray: rgba(85,85,85,1);
$gray_light: rgba(119,119,119,1);
$disabled: rgba(119,119,119,.2);
$background: #F0F0F0;
$complete: rgba(25,150,25,1.0);
$complete_hover: rgba(50,200,50,0.8);
