$red_header: #990000;
$red_link: rgba(150,25,25,1.0);
$red_link_hover: rgba(200,50,50,0.8);
$gray: rgba(85,85,85,1);
$gray_light: rgba(119,119,119,1);
$disabled: rgba(119,119,119,.2);
$background: #F0F0F0;
$complete: rgba(25,150,25,1.0);
$complete_hover: rgba(50,200,50,0.8);

$brave: rgb(100,25,150);
$fierce: rgb(200,25,25);
$wary: rgb(25,150,25);
$clever: rgb(100,150,250);
$strange: rgb(250,200,25);
$trust: rgb(255,25,150);
$nostat: black;
