@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc */
$gray-medium-light: #eaeaea;

$brave: #542888;
$fierce: #d22027;
$wary: #399a32;
$clever: #0094cf;
$strange: #dd780f;
$background: #060020;

// $hover: #428bca;
$hover: #9999FF;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

#overlay {
	background-color: $background;
	opacity: 0.9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: none;
}

html {
	font-size: 18px;
}

body {
	// padding-top: 4rem;
	background-color: $background;
	// font-family: Crimson;
	font-family: Crimson, serif;
	color: white;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.centered {
	text-align: center;
}

.text {

}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}


.panel {
	// margin: 0.5rem;
	max-width: 60rem;
	vertical-align: top;
	border: 0.75rem solid $background;
	border-radius: 1.25rem;
	color: black;
	.container-fluid {
		padding: 1rem;
	}

	h1,h2,h3,h4,h5,h6 {
		margin: 0;
	}

	h1 {
		font-size: 3rem;

		
	}

	h2 {
		color: black;
	}

	h3 {
		font-size: 1.5rem;
		font-weight: normal;
		text-align: center;
		margin-top: 1rem;
	}
}

.panel.wide {
	max-width: 50rem;
}

.well {
	background-color: #EEEEFF;
	display: block;
	margin: 0;
	text-align: left;
	font-size: 1rem;
	color: black;
	p {
		margin: 0.25rem;
	}
	&.active {
		cursor: pointer;
		&:hover {
			background-color: $hover;
			text-decoration: none;
			color: black;
		}
		&:focus {
			background-color: $hover;
			text-decoration: none;
			color: black;
		}
	}
	&.edit {
		background-color: white;
		position: relative;
		z-index: 5;
	}
	textarea {
		margin: 0.25rem;
	}
}

/* stat colors */
.brave {
	color: $brave;
}
.fierce {
	color: $fierce;
}
.wary {
	color: $wary;
}
.clever {
	color: $clever;
}
.strange {
	color: $strange;
}

/* stats panel */
#stats {
	.stat {
		vertical-align: top;
		margin: 0.5rem 0.75rem 0.5rem 0.25rem;
		padding: 0;
		text-align: center;
		// white-space: nowrap;
		min-width: 7rem;
		.row {
			margin: -0.2rem 0 -0.2rem 0;
		}
		.name {
			font: bold 2rem "Antique";
		}
		.value {
			font: bold 2rem "Antique";
		}
		.move {
			// height: 10;
			margin: 0.1rem;
			padding: 0;
			font: italic 0.8rem black Crimson;
			line-height: 0.7rem;
		}
	}
}

.container-fluid.experience {
	margin: 0 auto 0 auto;
	padding: 1rem 0 0 0;
	max-width: 16rem;
	font: 1.5rem "Antique";
	.experience {
		text-align: center;
		font: 1.5rem "Antique";
		padding: 0;
	}
	.experience-bubbles {
		text-align: center;
		padding: 0;
	}
}

.experience-bubbles {
	font-family: "icon";
	white-space: nowrap;
	letter-spacing: -0.3rem;
	&.active a {
		color: black;
		text-decoration: none;
		display: inline-block;
		position: relative;
		top: 0.2rem;
		&:hover {
			color: #9999FF;
		}
	}
}

.container-fluid.unprepared {
	margin: 0 auto 0 auto;
	padding: 1rem 0 0 0;
	max-width: 16rem;
	font: 1.5rem "Antique";
	.unprepared {
		display: inline-block;
		text-align: center;
		font: 1.5rem "Antique";
		padding: 0;
	}
	.unprepared-bubble {
		display: inline-block;
		text-align: center;
		padding: 0;
		position: relative;
		top: 0.2rem;
	}
}

/* loss panel */

#losses {
	div.loss {
		padding-top: 0.5rem;
		i.loss {
			color: black;
			position: relative;
			&.lost::after {
				border-bottom: 2px solid black;
				content: "";
				left: 0;
				position: absolute;
				right: 0;
				top: 50%;
			}
			&.loss:before {
				position: relative;
				font-size: 1.2rem;
				font-family: Crimson;
			}
			&.pride:before {
				content: "my pride";
			}
			&.health:before {
				content: "my health";
			}
			&.strength:before {
				content: "my strength";
			}
			&.hope:before {
				content: "my hope";
			}
			&.life:before {
				content: "my life";
			}
			&:hover {
				color: $hover;
				text-decoration: none;
				text-decoration-color: $hover;
				&.lost::after {
					border-color: $hover;
				}
			}
			&:focus {
				text-decoration: none;
				color: $hover;
				text-decoration-color: $hover;
				&.lost::after {
					border-color: $hover;
				}
			}
		}
	}
}

/* posessions */

// .unprepared {
// 	display: inline-block;
// 	padding: 1rem 0 0 0;
// 	text-align: center;
// 	font: bold 1.5rem "Antique";
// }

/* archetype panel */

#archetype {
	p {
		// margin-bottom: 1rem;
	}
}

/* fate panel */
div.fate-center {
	// min-width: 7rem;
	text-align: center;
	white-space: nowrap;
	padding-bottom: 1rem;
}

.fate-name {
	font: bold 2rem "Antique";
	text-align: center;
}

.fate {
	a {
		font-family: "icon";
		font-size: 1.25rem;
		color: black;
		text-decoration: none;
		&:hover {
			color: $hover;
		}
	}
	.plus {
		font-size: 1rem;
		vertical-align: 0.1rem;
		line-height: 1;
	}
	span {
		font-family: "icon";
		font-size: 1.25rem;
		color: black;
		text-decoration: none;
	}
}

i.fate-plus {
	font-size: 1rem;
	vertical-align: 0.1rem;
	line-height: 1;
}

/* buttons */
.btn-circle {
	width: 1.25rem;
	height: 1.25rem;
  	text-align: center;
  	padding: 0;
  	font-size: 1rem;
  	margin-bottom: 0.25rem;
  	border-radius: 1.5rem;
  	border: 3px solid black;
}

button.btn-circle {
  	&:hover {
  		background-color: #AAAAFF;
  		border-color: #000077;
  	}

  	&:active {
  		background-color: #AAAAFF;
  		border-color: #000077;
  	}
  	&.pressed {
  		background-color: black;
  		&:hover {
	  		background-color: #3333AA;
	  		border-color: #000077;
  		}
  	}
}

div.btn-circle.inactive {
	 -ms-touch-action: none;
      touch-action: none;
  	cursor: default;
  	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
	&:hover {
  		background-color: white;
  		border-color: black;
  		box-shadow: none;
  	}
  	&:active {
  		background-color: white;
  		border-color: black;
  		box-shadow: none;
  	}
  	&:focus {
  		background-color: white;
  		border-color: black;
  		box-shadow: none;
  	}
  	&.pressed {
  		background-color: black;
  	}
}

/* typography */

h1, h2, h3, h4, h5, h6, {
	font-family: "Antique";
	font-weight: bold;
	line-height: 1;
}

h1 {
	font-size: 4rem;
	// margin-bottom: 30px;
	text-align: center;
	margin: 0;
	padding: 0;

	&.gap {
		margin-top: 2rem; 
	}
}

h2 {
	font-size: 3em;
	text-align: center;
	font-weight: normal;
	margin: 0.5rem 0 0 0;
	padding: 0;
	color: white;
}

p {
	font-size: 1rem;
	line-height: 1.2rem;
	margin: 0;
}

.result {
	font-weight: bold;
	&:before {
		content: "\f005";
	}
}

stat- {
	font-size: 0.8rem;
}

result- {
	font-weight: bold;
	&:before {
		content: "*";
		font-family: "icon";
		font-size: 0.8rem;
		line-height: 1;
	}
}

ul {
	padding-left: 0.25rem;
	list-style: none;
	font-size: 1rem;
	li {
		font-style: italic;
		&:before {
			content: ">";
			font-family: "icon";
			line-height: 1;
			margin-right: 0.3rem;
			font-style: normal;
		}
	}
}

/* header */

nav.navbar {
	background-color: $background;
	border-bottom: 1px solid #262040;
	ul {
		li {
			padding: 1rem;
			color: #428BCA;
			a {
				display: inline-block;
				padding: 0;
			}
		}
	}
}

#logo {
	padding-top: 0.9rem;
	float: left;
	margin-right: 10px;
	font-size: 1.7em;
	color: white;
	font-family: "Antique";
	text-transform: uppercase;
	font-weight: bold;
	&:hover {
		color: white;
		text-decoration: none;
	}
}

.icon-bar {
	background-color: white;
}

/* sidebar */

aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			margin-bottom: 3px;
			margin-top: 0px;
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray-medium-light;
	color: white;
	a {
		color: white;
		&:hover {
			color: white;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 15px;
		}
	}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box-sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

/* users index */

.users {
	list-style: none;
	margin: 0;
	li {
		overflow: auto;
		padding: 10px 0;
		border-bottom: 1px solid $gray-lighter;
	}
}

.awesome-checkbox{
	display:none;
}

.awesome-checkbox-label{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
}

.unprepared-bubble {
	.i-circle-o {
		position: relative;
		&:before {
			position: relative;
			// top: 0.1rem;
			content: "o";
		}
	}
	&.active .i-circle-o:hover {
		color: #9999FF;
	}
	.i-circle {
		position: relative;
		&:before {
			position: relative;
			// top: 0.1rem;
			content: "O";
		}
	}
	&.active .i-circle:hover {
		color: #9999FF;
	}
}

.hidden {
	visible: false;
}