#sheet {
  color: $gray;
  margin-top: -1.5rem;

  h1 {
    margin-top: 1.5rem;
  }

  h2.bar {
    display: block;
    margin: auto;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: -1;
    height: 1.5rem;
    &:before {
      content: "";
      position: absolute;
      background-color: $red_link;
      z-index: -3;
      bottom: 50%;
      left: 1rem;
      right: 1rem;
      height: 3px;
      border: 1px inset $red_link;
      border-radius: 6px;
    }

    .look {
      font-family: "Crimson Text", sans-serif;
      font-size: 1rem;
    }

    .title {
      z-index: -2;
      font-size: 1.2rem;
      background-color: $background;
      display: inline-block;
      line-height: 1.5rem;
      position: relative;
      height: 1.5rem;
      color: $gray;
      padding-left: .3rem;
      padding-right: .3rem;
    }
  }

  .stats {
    text-align: center;
    .stat {
      white-space: nowrap;
      font-weight: bold;
      font-family: "Antique", serif;
      font-size: 1.5rem;
      .stat-name {
        margin-right: -.4rem;
      }
    }
  }

  .panel {
    font-family: "Crimson Text", serif;
    font-size: .9rem;
    background-color: none;
  }
  .outer-panel {
    padding: 0;
  }
  .name {
    font-weight: bold;
    font-family: "Antique", serif;
    font-size: 1.2rem;
  }
  .move {
    line-height: 1.2rem;
    margin-bottom: 1.5rem;
  }
  .relationships {
    text-align: center;
    color: $gray;
    position: relative;
    .relationship {
      font-weight: bold;
      font-family: "Antique", serif;
      font-size: 1.2rem;
      vertical-align: bottom;
      display: inline-block;
      .trust-value {
        display: inline-block;
        width: 1.3rem;
      }
    }
  }
  form {
    display: inline-block;
  }
  .trust-change, .button {
    float: center;
    text-align: center;
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: .2rem;
    line-height: 1.6rem;
    vertical-align: middle;
    display: inline-block;
    bottom: .2rem;
    &:focus {
      color: $red_link;
    }
  }
  #spirit {
    text-align: center;
    .button {
      float: left;
      -webkit-transition: left 0.3s;
      transition: left 0.3s;
    }
  }
  .move-fields {
    margin-left: 2rem;
    margin-top: -.7rem;
  }
  .field {
    color: $red_link;
  }
  .dire-fates {
    padding-top: 0;
  }
  .fate {
    .button {
      padding: 0;
      position: relative;
      vertical-align: middle;
      line-height: 1.5rem;
      -webkit-transition: opacity 0.3s, color 0.3s;
      transition: opacity 0.3s, color 0.3s;
      &:disabled {
        color: $gray;
        opacity: 0.3;
        &:hover {
          background: none;
        }
      }
    }
    .fate-advancements {
      margin-top: -.5rem;
      .fate-advancement-form {
        display: inline;
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .word-button {
      text-align: center;
    }
  }
  .word-button {
    padding: .3rem;
    border: none;
    font-family: "Spartan", sans-serif;
    display: block;
    width: 100%;
    text-align: left;
    height: auto;
    white-space: normal;
    font-size: .8rem;
    &.vow {
      line-height: normal;
      font-size: .6rem;
    }
  }
}
