<!DOCTYPE html>
<html>
  <head>
    <title>Stranger Roads</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    Stranger Roads
    <div id="slider">
      <%= yield %>
    </div>
  </body>
</html>
